.landing {
  background-color: rgba(0, 0, 0, 0.1);
  background-image: url("./image/bgimg2.jpg");
  background-size: cover;
  width: 100%;
  height: 550px;
  position: relative;
}
.main-contanier {
  text-align: center;
  padding-top: 50px;
  position: auto;
}
.text-container {
  text-align: center;
  font-size: 4vw;
  font-weight: bolder;
  position: relative;
}
.search-container {
  text-align: center;
  font-weight: bolder;
  font-size: 2vw;
  color: black;
  position: relative;
  text-decoration: none;
  margin: 10px 10px 10px 10px;
}
.searchbox {
  margin: 20px 10% 0px 10%;
}
.searchboxselect {
  border: 3px solid rgb(81, 225, 230);
  font-weight: bolder;
  font-size: large;
  padding: 0px;
}
.searchboxselecter {
  border: 0px solid white;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
.searchboxinput {
  padding: 0px;
  width: 100%;
  height: 100%;
}
.searchboxforminput {
  background-color: transparent;
  font-weight: 500;
  font-size: large;
}
.searchboxbutton {
  font-weight: bolder;
  font-size: large;
  width: 100%;
}
