.navcolor {
  /* background: linear-gradient(
    120deg,
    rgb(14, 179, 179),
    rgb(14, 179, 179),
    rgb(138, 87, 219),
    rgb(231, 11, 231),
    rgba(236, 13, 87, 0.904),
    rgb(121, 4, 4)
  ); */
  background-image: url("./image/bgimg2.jpg");
  background-size: cover;
  font-size: x-large;
  opacity: 0.9;
  background-color: rgb(156, 151, 228);
  font-size: large;
  font-weight: bold;
}
.navheadfont {
  font-size: x-large;
  font-weight: bold;
}
.nav_ab:hover {
  font-size: larger;
  font-weight: bold;
}
