.search_container {
  text-decoration: none;
  margin: 1% 25% 0px 25%;
  background-color: white;
  padding: 0px;
  border-radius: 8px;
}
.searchsection {
  background-color: transparent;
}
.search_input {
  border: none;
  padding: 0px;
  outline: 0px;
  font-size: larger;
  font-weight: 400;
  color: black !important;
}
.search_input:focus {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.search_input:active {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
.searchDropDown {
  padding: 0px;
  text-decoration: none;
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
}
.searchButton {
  text-transform: none;
  font-size: large;
  background-color: transparent;
  border-color: transparent;
  outline: none;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none !important;
  appearance: none;
  -moz-appearance: none !important;
  text-indent: 0.01px !important;
  text-overflow: "";
}
.searchButton:hover {
  outline: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
}
.searchButton:focus {
  outline: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
}
.searchButton:active {
  outline: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
}
.searchButton::-ms-expand {
  display: none;
}
